<div class="container">
    <div class="row">

    <div class="page-header">
        <ul id="products" class="list-group">
        </ul>
    </div>

        <h3><label>Total: &nbsp;&nbsp;&nbsp;NOK &nbsp;&nbsp;</label><span class="totalAmount"><%= total %></span></h3>
        <button type="button" id="clear" class="btn btn-danger">Clear</button>
        <button type="button" id="sell" class="btn btn-success">Sell</button>

    </div>
</div>


<div class="modal fade" id="sellModal" tabindex="-1" role="dialog" >
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
      Contacting server...
      </div>
      <div class="modal-body">
      Please wait.
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">Cancel</button>
      </div>
    </div>
</div>
