<ul id="products" class="nav nav-pills nav-stacked"></ul>

<label>Total:</label><span class="totalAmount"><%= total %></span>
<button id="clear">Clear</button>
<button id="sell">Sell</button>

<div class="modal fade" id="sellModal" tabindex="-1" role="dialog" >
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
      Contacting server...
      </div>
      <div class="modal-body">
      Please wait.
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">Cancel</button>
      </div>
    </div>
</div>
